body {
  border: solid 2px black;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.galleryInteraction{
  display: flex;
  width: 100%;
}
#galleryDisplay {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.selected {
  background-color: orange;
}
.mosaicIcon {
  width: 70px;
  margin: 10px;
}
.columnIcon {
  width: 70px;
  margin: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formSelect {
  width: 40px;
  height: 30px;
  border-radius: 5px;
}
#addImgicon {
  width: 60px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 20px;
    text-align: center;
}
.mosaicDisplayItem {
    width: 33%;
}
.mosaicDisplayImage {
    width :400px;
}
.columnDisplayItem {
  width: 100%;
}
.columnDisplayImage {
  width :1000px;
}
@media all and (max-width: 1600px){
  .mosaicDisplayItem {
    width: 50%;
}
  .mosaicDisplayImage {
     width: 300px;
  }
  .columnDisplayItem {
    width: 100%;
  }
  .columnDisplayImage {
    width :700px;
  }  
}
@media all and (max-width: 800px){
  .mosaicDisplayItem {
    width: 50%;
}
  .mosaicDisplayImage {
     width: 150px;
  }
  .columnDisplayItem {
    width: 100%;
  }
  .columnDisplayImage {
    width :400px;
  }
}

footer {
  text-align: center;
  background-color: darkgreen;
}
