body {
    border: solid 2px black;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: orange;
    text-align: center;
  }
  .headerElements {
    display: flex;
    justify-content: center;
    width: 33%;
    border: solid 2px red;
  }
  .menuLinks {
    display: flex;
    justify-content: center;
    width: 33%;
    border: solid 2px red;
  }
  .homePicture {
    text-align: start;
    width: 33%;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  footer {
    text-align: center;
    background-color: darkgreen;
  }