body {
    border: solid 2px black;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  footer {
    text-align: center;
    background-color: darkgreen;
  }